/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
body {
  max-width: 600px;
  margin: 0 auto;
}

h4 {
  margin-top: 2px;
}

pre {
  max-height: 400px;
  font-family: monospace;
  background: black;
  color: yellow;
  overflow: auto;
  padding: 4px;
}

button {
  padding: 6px 12px;
  margin: 2px 6px;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  &.orange {
    background: #ff5722;
  }
  &.green {
    background: #009688;
  }
  &.brown {
    background: #795548;
  }
}

fieldset {
  border: none;
  background: #eaeaea;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

input {
  margin-bottom: 0.5rem;
  width: calc(100% - 16px);
  min-height: 30px;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  color: #767676;
  font-style: italic;
  font-size: 1.1rem;
  &[type='checkbox'] {
    min-height: auto;
    width: auto;
  }
}

article {
  margin-top: 0.6rem;
}

.button-right {
  display: flex;
  justify-content: flex-end;
}

label {
  padding-right: 4px;
}

.button-sticky {
  position: fixed;
  top: 0;
  width: 20%;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  bottom: 0;
  align-items: flex-start;
  &.right {
    right: 0;
  }
  &.left {
    left: 0;
    padding-top: 0;
  }
  .dash {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 4px;
  }
}
